* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-navbar {
  background-color: #FFEFF9;
}

nav li {
  list-style: none;
}

nav li a {
  color: grey;
  font-size: 1.3rem;
  text-decoration: none;
}

.nav-active {
  color: white;
  transition: all .3s ease-out;
}
