* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  min-height: 78vh;
}


.background-navbar {
  background-color: #FFEFF9;
}

nav li {
  list-style: none;
}

nav li a {
  color: grey;
  font-size: 1.3rem;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

.nav-active {
  color: white;
  transition: all .3s ease-out;
}

.terms-and-conditions {
  cursor: pointer;
}

.nav-link-footer,
.terms-and-conditions {
  color: rgb(75, 75, 75);
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item-footer:hover,
.terms-and-conditions:hover {
  color: black;
  transition: all .3s ease-out;
}

.cursor-pointer {
  cursor: pointer;
}
